MYSQL_ROOT_PASSWORD=watchcommerce_root
MYSQL_APP_USER=watchcommerce
MYSQL_APP_PASSWORD=watchcommerce

ORDER_DB_NAME=order_db
INVENTORY_DB_NAME=inventory_db
ACCOUNTING_DB_NAME=accounting_db
CRM_DB_NAME=crm_db

RABBITMQ_USER=watchcommerce
RABBITMQ_PASSWORD=watchcommerce
RABBITMQ_EXCHANGE=watchcommerce.events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_RECONNECT_DELAY=5

ORDER_CREATED_ROUTING_KEY=order.created
ROUTER_QUEUE=integration.router.order.created
INVENTORY_QUEUE=integration.inventory.order.created
ACCOUNTING_QUEUE=integration.accounting.order.created
CRM_QUEUE=integration.crm.order.created
INVENTORY_ROUTING_KEY=integration.inventory.order.created
ACCOUNTING_ROUTING_KEY=integration.accounting.order.created
CRM_ROUTING_KEY=integration.crm.order.created

ORDER_API_PORT=8001
INVENTORY_API_PORT=8002
ACCOUNTING_API_PORT=8003
CRM_API_PORT=8000
GATEWAY_PORT=8080
RABBITMQ_PORT_PUBLIC=5672
RABBITMQ_MANAGEMENT_PORT=15672
AUTO_SEED_INVENTORY=true

ORDER_API_INTERNAL_URL=http://order-api:8001
INVENTORY_API_INTERNAL_URL=http://inventory-api:8002
ACCOUNTING_API_INTERNAL_URL=http://accounting-api:8003
CRM_API_INTERNAL_URL=http://crm-api:8000

INVENTORY_INTERNAL_URL=http://inventory-api:8002/api/inventory/internal/order-events/order-created
ACCOUNTING_INTERNAL_URL=http://accounting-api:8003/api/v1/internal/order-events/order-created
CRM_INTERNAL_URL=http://crm-api:8000/api/crm/internal/order-events/order-created

REQUEST_TIMEOUT_SECONDS=15
TARGET_TIMEOUT_SECONDS=15
GATEWAY_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
